{% load static %}
<html>
<head>
    <title>Pro. Interdisciplinar</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'blog.css' %}">
</head>
    <body>
        <div class="page-header">
            <h1><a href="/"> Projeto Interdisciplinar </a> </h1>
        </div>

            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                           {% block content %}
                           {% endblock %}
                   
                   
                           
                           <div class= "post"> 
                               <h2><a href="">Quem somos</a></h2>
                               <img src="{% static 'adao.png' %}" alt="Adão">
                               <br><h3> Adão Norato Claro Junior: </h3><br>
                               <p> Estudante Ciências da Computação, Unifil. 3º Periodo. </p>
                            </div>
                        </div>

                </div>
            </div>
    </body>
</html>