{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <div class= "post">
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        <div class="date">
            <p>Versionado: {{ post.published_date }}</p>
        </div>
        </div>
    {% endfor %}
{% endblock %}       